# Pastas temporárias e arquivos gerados automaticamente
*.cache/
jesd204b.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# Arquivos de log e temporários
*.log
*.jou

# Arquivos de projetos temporários
*.str     
*.wcfg     
*.tcl.save     

# Arquivos de configuração local de ambiente
*.backup   
*.tmp    
*.lock 